
.jumbotron {
  background: url(../css/../images/circuit.png);
}

.crystals{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.crystal{
  border: 1px solid green;
  height: 200px;
  width: 200px;

}
img{
  width: 50px;
}

body {
  background: darkgray;
}

span {
  font-family: fantasy, Arial, Helvetica, sans-serif
}

#result {
  font-family: fantasy, Arial, Helvetica, sans-serif
}

#score {
  font-family: fantasy, Arial, Helvetica, sans-serif
}

#instructions {
  text-align: center;
  background: url(../css/../images/circuit.png);
}

#game-title {
  background-color: tan;
}

p {
  background-color: tan;
}


@media screen and (max-width: 840px) {
  .crystal {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .crystal {
    height: 150px;
    width: 150px;
  }
  #game-title {
    font-size: x-large;
  }
}

@media screen and (max-width: 660px) {
  .crystal {
    height: 100px;
    width: 100px;
  }
  #game-title {
    font-size: x-large;
  }
}